* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid red;
}

button {
    outline: none;
    color: purple;
    font-size: 1.3em;
}

.outer-container {
    padding: 10px;
}

.top-bar p {
    float: right;
}








